.box_forPage {
    background-color: #ffffff; 
    margin-top: 50px; 
    margin-bottom: 50px;
    padding: 15px;
}

.nav_border_bottom {
    border-bottom: 3px solid;
    border: #777777;
}

.nav_nameBox {
    margin-left: 100px;
    padding: 10px 25px;
    background-color: #4aaaa5;
    font-size: 40px;
    color: #ffffff;
    
}

.head_mainContent{
    color: #4aaaa5;
}

.myFooter {
    padding: 10px;
    background-color:#777777;
    border-top: 6px solid;
    border-color: #4aaaa5;
    text-align: center;
}